*                      	      { margin: 0; padding: 0; }
body                 	      { font: 16px Georgia, serif; }
 
#page-wrap           	       { margin: 2% auto; color: white; }
#page-wrap > .main    { border: 1px solid #999; padding: 1%; 
	                  margin-bottom: 1px; color: black;}

section > div        		{ padding: 20px; }
header, nav, section 	{ background: #eee; text-align: center;}
footer               		{ background: #eee; text-align: center;}
nav span             		{ margin: 0px 10px 0px 0px;}
footer span             		{ margin: 0px 10px 0px 0px;}
#img-aut                        { max-width: 100px;}
#tabla-preg			{ margin: 0 auto; float: center;} /* Top and bottom margins are 0, and right and left margins are auto */
													  /* Dice deprecated float en firefox */
.letra-negrita            { font-weight: bold;}
#ErrorMsgs                    { color: #f61; font-size: smaller; } /* color rojo de texto*/
.right 				{ float: right; }
.avisoMsgs                    { font-size: smaller; } 