    <form method="get" action="/quizes/answer">
      <br><p>Pregunta: <%= pregunta %></p>
      <input type="text" name="respuesta" value="Respuesta" />	
      <input type="submit" value="Enviar"><br>
    </form>